<h2>Our Books</h2>

<a href="/book/add">Add a Book</a>

<ul>
  {{#each bookArray}}
    <li>
      <h3>{{this.title}}</h3>
      <p>
        by
        <a href="/author/{{this.author._id}}">
          {{this.author.firstName}} {{this.author.lastName}}
        </a>
      </p>

      <a href="/book/{{this._id}}">See Details</a>
    </li>
  {{/each}}
</ul>
